body{
    font-family:'Poppins', sans-serif;
    background:#1a0f0a;
    color:white;
}

/* ===== HERO ===== */
.hero{
    min-height:100vh;
    background:url('https://images.unsplash.com/photo-1550966871-3ed3cdb5ed0c') center/cover no-repeat;
    position:relative;
    padding-top:120px;
}

.hero::after{
    content:"";
    position:absolute;
    inset:0;
    background:rgba(0,0,0,0.7);
}

.hero-content{
    position:relative;
    z-index:2;
}

/* ===== TEXT STYLE ===== */
.title-big{
    font-family:'Playfair Display', serif;
    font-size:80px;
}

.subtitle{
    font-family:'Playfair Display', serif;
    font-size:60px;
}

.btn-outline-gold{
    border:2px solid gold;
    color:gold;
    background:transparent;
    border-radius:30px;
    padding:8px 30px;
}

.btn-outline-gold.active,
.btn-outline-gold:hover{
    background:gold;
    color:black;
}

/* ===== MENU BOX ===== */
.menu-box{
    border:2px solid gold;
    padding:40px;
    margin-top:40px;
    border-radius:15px;
    background:rgba(0,0,0,0.6);
}

.menu-item{
    display:flex;
    justify-content:space-between;
    border-bottom:1px dotted white;
    margin-bottom:15px;
    padding-bottom:5px;
    font-size:20px;
}

.menu-item:last-child{
    border:none;
}

.food-img{
    width:100%;
    border-radius:15px;
}

.back-btn{
    position:fixed;
    top:30px;
    left:30px;
    padding:8px 20px;
    border:2px solid Off-White;
    border-radius:30px;
    color:gold;
    text-decoration:none;
    background:rgba(0,0,0,0.6);
    z-index:9999;
    transition:0.3s;
    font-weight:500;
}

.back-btn:hover{
    background:gold;
    color:black;
}
